@CHARSET "UTF-8";

#wraper {
	width: 1070px;
	margin: auto;
	border: 1px solid red;
}

/**
	components
*/

.panel {
	padding: 0.1em;
}

.panel .panel-header,.panel .panel-body {
	padding: 0.3em 0.5em;
}

form.form input, form.form label {
	display: block;
}

form.form .form-group {
	padding: 0.3em 0;
}

/**
 Utils
*/

.left {
	float: left;
}

.right {
	float: right;
}

.clear-fix {
	clear: both;
}

.inline-block {
	display: inline-block;
}

.full {
	width: 100%;
	box-sizing: border-box;
}

.hidden {
	display: none;	
}
